.container {
    display: flex;

}
img {
    height: 15rem;
    width: 20rem;
    margin: 10px;
    border-style: double;
}
h2 {
    margin: 10px 10px 10px 10px;

}
p {
    margin: 10px 0px 10px 10px;

}